<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <magenest>

            <general>
                <enabled_social_enabled_modal>0</enabled_social_enabled_modal>
                <enabled_social_enabled_create_account>1</enabled_social_enabled_create_account>
                <enabled_social_enabled_checkout>1</enabled_social_enabled_checkout>
                <enabled_social_enabled_comment_product>1</enabled_social_enabled_comment_product>
                <enabled_share>1</enabled_share>
                <select_social_share>facebook, google</select_social_share>
            </general>

            <credentials>
                <google>
                    <enabled>1</enabled>
                    <client_id>902951317083-7cv85f20e8gnf505qhbp88ob354v197c.apps.googleusercontent.com</client_id>
                    <client_secret>yatuFRDKm8uBLwf7BSfo6ire</client_secret>
                </google>
                <facebook>
                    <enabled>1</enabled>
                    <client_id>312017956292258</client_id>
                    <client_secret>6fb31cd29e4d9ff750d54f0fa0ee9f73</client_secret>
                </facebook>
                <zalo>
                    <enabled>1</enabled>
                    <client_id>1026968471688463694</client_id>
                    <client_secret>K4JWP3Y31EQ4CRdtnDKX</client_secret>
                </zalo>
                <twitter>
                    <enabled>0</enabled>
                    <client_id>5HwsAiPPXtin4TfQxnDVHmavI</client_id>
                    <client_secret>RxClJqz99ybXwIFgj0ovtHwnZsucK5ZvdVCUzBz1oTBrbdLOk6</client_secret>
                </twitter>
                <instagram>
                    <enabled>0</enabled>
                    <client_id>64181602656747debdfc2342d9665801</client_id>
                    <client_secret>2583688b23c441e39f083811334b845f</client_secret>
                </instagram>
                <linkedin>
                    <enabled>0</enabled>
                    <client_id>81nyrbn0y1bskn</client_id>
                    <client_secret>46ImxbnyjmHPBBLk</client_secret>
                </linkedin>
                <pinterest>
                    <enabled>0</enabled>
                    <client_id>4984472831283705412</client_id>
                    <client_secret>93f9da973fbeb3bbbcff395f16033ad00066650f2171c5718bbce951efaa3bcc</client_secret>
                </pinterest>
                <line>
                    <enabled>0</enabled>
                    <client_id>1602232851</client_id>
                    <client_secret>dc7c9bd5c7a398197aec7470779ca63c</client_secret>
                </line>
                <reddit>
                    <enabled>0</enabled>
                    <client_id>F9Xpd-OUzOS5_g</client_id>
                    <client_secret>G22SGctzvoSH7T3AMHlFbdUCl28</client_secret>
                </reddit>
                <amazon>
                    <enabled>0</enabled>
                    <client_id>amzn1.application-oa2-client.cd3f6ad5d4fb4c7b8b9aa2d0f2af414c</client_id>
                    <client_secret>20a573bffe56954b2aa61c580a5f8562d1bf7492b0482c50a74522a34030674c</client_secret>
                </amazon>
            </credentials>
        </magenest>
    </default>
</config>