a.sociallogin_popup {
    text-decoration: none;
    color: #ffffff;
}

ul.hideshare-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.hideshare-list li {
    float: left;
}

div.facebook-share, div.google-share, div.twitter-share, div.pinterest-share, div.linkedin-share,
div.line-share, div.reddit-share, div.amazon-share, div.instagram-share, div.zalo-share, div.wechat-share {
    width: 40px;
    height: 40px;
    margin: 3px 5px auto auto;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

div.facebook-share {
    background-image: url('../images/facebook_share.png');
}

div.google-share {
    background-image: url('../images/google_share.png');
}

div.twitter-share {
    background-image: url('../images/twitter_share.png');
}

div.pinterest-share {
    background-image: url('../images/pinterest_share.png');
}

div.linkedin-share {
    background-image: url('../images/linkedin_share.png');
}

div.line-share {
    background-image: url('../images/line_share.png');
}

div.reddit-share {
    background-image: url('../images/reddit_share.png');
}

div.amazon-share {
    background-image: url('../images/amazon_share.png');
}

div.instagram-share {
    background-image: url('../images/instagram_share.png');
}
div.zalo-share {
    background-image: url('../images/zalo_share.png');
}
div.wechat-share {
    background-image: url('../images/wechat_share.png');
}

#social_login_buttons {
    display: flex;
    justify-content: center;
}

.s-network {
    width: 585px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.s-network::before {
    margin-right: -100%;
    right: -37px;
    content: "";
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 100%;
    border-top: 1px solid #090909;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.75);
}

/*.s-network::after {*/
    /*margin-left: -100%;*/
    /*left: -35px;*/
    /*content: "";*/
    /*display: inline-block;*/
    /*vertical-align: middle;*/
    /*position: relative;*/
    /*width: 100%;*/
    /*border-top: 1px dashed rgba(0, 0, 0, 0.2);*/
    /*border-bottom: 1px dashed rgba(255, 255, 255, 0.75);*/
/*}*/

.s-network span {
    border: 1px solid #000000;
    border-radius: 50%;
    padding: 5px;
    font-size: 16px;
    color: #000000;
}

.btn-snetwork {
    display: inline;
    justify-content: center;
    margin-top: 30px;
}

.btn-snetwork img {
    height: 40px;
}

div.modal-amazon, div.modal-facebook, div.modal-zalo, div.modal-kakao,
div.modal-google, div.modal-twitter, div.modal-instagram, div.modal-line,
div.modal-linkedin, div.modal-reddit, div.modal-pinterest, div.modal-wechat {
    cursor: pointer;
    height: 59px;
    width: 238px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    float: left;
    margin: 5px;
}

div.modal-amazon:hover, div.modal-facebook:hover, div.modal-google:hover,
div.modal-twitter:hover, div.modal-instagram:hover, div.modal-line:hover,
div.modal-linkedin:hover, div.modal-reddit:hover, div.modal-pinterest:hover,
div.modal-zalo:hover, div.modal-kakao:hover, div.modal-wechat:hover {
    transform: scale(1.05);
    /*transition: .3s ease-in-out;*/
}

div.modal-google {
    background-image: url('../images/google.jpg');
}

div.modal-facebook {
    background-image: url('../images/facebook.jpg');
}

div.modal-twitter {
    background-image: url('../images/twitter.jpg');
}

div.modal-amazon {
    background-image: url('../images/amazon.jpg');
}

div.modal-instagram {
    background-image: url('../images/instagram.jpg');
}

div.modal-pinterest {
    background-image: url('../images/pinterest.jpg');
}

div.modal-line {
    background-image: url('../images/line.jpg');
}

div.modal-linkedin {
    background-image: url('../images/linkedln.jpg');
}

div.modal-reddit {
    background-image: url('../images/reddit.jpg');
}

div.modal-zalo {
    background-image: url('../images/zalo.png');
}

div.modal-kakao {
    background-image: url('../images/kakao.png');
}

div.modal-wechat {
    background-image: url('../images/wechat.png');
}
.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}

.btn-snetwork{
    display: block;
    text-align: center;
}
.btn-snetwork:after{
    content: "";
    display: block;
    clear: both;
}
div.modal-amazon,
div.modal-facebook,
div.modal-google,
div.modal-twitter,
div.modal-instagram,
div.modal-line,
div.modal-linkedin,
div.modal-reddit,
div.modal-pinterest,
div.modal-zalo,
div.modal-wechat,
div.modal-kakao {
    position: relative;
    overflow: hidden;
    float: none;
    display: inline-block;
    width: 238px;
    height: 56px;
    border-radius: 10px;
    margin: 10px;
    background-size: cover;
    box-shadow: 1px 4px 16px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 1px 4px 16px rgba(0, 0, 0, 0.3);
    -o-box-shadow: 1px 4px 16px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 1px 4px 16px rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
div.modal-amazon:hover,
div.modal-facebook:hover,
div.modal-google:hover,
div.modal-twitter:hover,
div.modal-instagram:hover,
div.modal-line:hover,
div.modal-linkedin:hover,
div.modal-reddit:hover,
div.modal-pinterest:hover,
div.modal-zalo:hover,
div.modal-wechat:hover,
div.modal-kakao:hover {
    box-shadow: 1px 4px 16px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 1px 4px 16px rgba(0, 0, 0, 0.6);
    -o-box-shadow: 1px 4px 16px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 1px 4px 16px rgba(0, 0, 0, 0.6);
}
div.modal-amazon:before,
div.modal-facebook:before,
div.modal-google:before,
div.modal-twitter:before,
div.modal-instagram:before,
div.modal-line:before,
div.modal-linkedin:before,
div.modal-reddit:before,
div.modal-pinterest:before,
div.modal-zalo:before,
div.modal-wechat:before,
div.modal-kako:before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 40px;
    transform: rotate(-45deg);
    left: -100%;
    top: -100%;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
div.modal-amazon:hover:before,
div.modal-facebook:hover:before,
div.modal-google:hover:before,
div.modal-twitter:hover:before,
div.modal-instagram:hover:before,
div.modal-line:hover:before,
div.modal-linkedin:hover:before,
div.modal-reddit:hover:before,
div.modal-pinterest:hover:before,
div.modal-zalo:hover:before,
div.modal-wechat:hover:before,
div.modal-kakao:hover:before {
    left: 100%;
    top: 100%;
    background: rgba(255, 255, 255, 0.6);
}

div.social-like {
    display: inline-block;
    width: 100%;
    font-weight: bold;
}

.social-like > div > div{
    display: block !important;
}

@media (min-width: 992px){
    div.modal-amazon,
    div.modal-facebook,
    div.modal-google,
    div.modal-twitter,
    div.modal-instagram,
    div.modal-line,
    div.modal-linkedin,
    div.modal-reddit,
    div.modal-pinterest,
    div.modal-zalo,
    div.modal-wechat,
    div.modal-kakao{
        width: calc(25% - 20px);
        float: left;
        height: 0;
        padding-bottom: calc(0.23 * (25% - 20px));
    }
}
@media (min-width: 768px) and (max-width: 991px){
    div.modal-amazon,
    div.modal-facebook,
    div.modal-google,
    div.modal-twitter,
    div.modal-instagram,
    div.modal-line,
    div.modal-linkedin,
    div.modal-reddit,
    div.modal-pinterest,
    div.modal-zalo,
    div.modal-wechat,
    div.modal-kakao {
        width: calc(33.33% - 20px);
        float: left;
        height: 0;
        padding-bottom: calc(0.23 * (33.33% - 20px));
    }
}
@media (min-width: 480px){
    .modal-popup div.modal-amazon,
    .modal-popup div.modal-facebook,
    .modal-popup div.modal-google,
    .modal-popup div.modal-twitter,
    .modal-popup div.modal-instagram,
    .modal-popup div.modal-line,
    .modal-popup div.modal-linkedin,
    .modal-popup div.modal-reddit,
    .modal-popup div.modal-pinterest,
    .modal-popup div.modal-zalo,
    .modal-popup div.modal-wechat,
    .modal-popup div.modal-kakao {
        width: calc(50% - 16px);
        margin: 8px;
        float: left;
        height: 0;
        padding-bottom: calc(0.23 * (50% - 16px));
    }
}
@media (max-width: 480px){
    .modal-popup div.modal-amazon,
    .modal-popup div.modal-facebook,
    .modal-popup div.modal-google,
    .modal-popup div.modal-twitter,
    .modal-popup div.modal-instagram,
    .modal-popup div.modal-line,
    .modal-popup div.modal-linkedin,
    .modal-popup div.modal-reddit,
    .modal-popup div.modal-pinterest,
    .modal-popup div.modal-zalo,
    .modal-popup div.modal-wechat,
    .modal-popup div.modal-kakao {
        display: block;
        float: none;
        width: 215px;
        height: 50px;
        margin: 0 auto 15px;
        background-size: contain;
    }
}
